.dashboard-svg {
  width: 3.5rem;
  height: 3.5rem;
}

.dashboard-buttons > a > span {
  display: block;
  margin: .5rem auto;
}
.dashboard-buttons > a{
  padding-top: 1rem;
  width: 7rem;
  background-color: #1d5b9829;
  border-top: #1d5b98 3px solid;
  color: #021b33;
  font-weight: 600;
  margin-top: 1.5rem;
}

.dashboard-buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
