*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: #e4dee4;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  margin-left: 42px;
}

.card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #00000020;
  border-radius: .25rem;
  box-sizing: border-box;
  padding: .5rem;
  margin: .5rem;
}

.card-header {
  text-align: center;
  text-transform: capitalize;
}

.container-section {
  background-color: #fafafa;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  margin: 5px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:focus {
  outline: none;
}

.link-btn {
  text-decoration: none;
}

.form-group {
  margin-top: 1rem;
}

.form-control {
  display: block;
  /* width: auto; */
  width: 95%;
  /* height: calc(1.5em + .75rem + 2px); */
  margin-top: .5rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-check {
  margin-top: .6rem;
  position: relative;
  display: block;
  padding-left: .5rem;
}

.form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
}

.amani-blue {
  background-color: #1d5b98;
  color: #ffffff;
}

.bg-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.bg-warn {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.error-box {
  border-radius: 10px;
  padding: .4rem;
  margin: .2rem;
  color: #e6172c;
  background-color: #dc35464d;
  border-color: #38191c;
}

.error-box>p {
  margin: 0.5rem;
}

.bg-light {
  background-color: #eaebf0;
}

.bg-cool-dark {
  background-color: #0e1a25;
  color: #ffffff;
}

.bg-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.bg-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.d-inline {
  display: inline !important;
}

.fade {
  background-color: #04040465;
}

.section-header {
  text-align: center;
  /* color: #212121; */
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: .5rem;
}

.page-header {
  padding: 1rem 0;
  margin: 0 0 1rem;
  background-color: #02041a;
  color: #fafafa !important;
  height: 8rem;
  width: 100%;
  box-sizing: border-box;
}

.page-header>* {
  width: 100%;
  box-sizing: border-box;
}

.page-header>p {
  margin-top: .5rem;
  font-size: 1.5rem;
  text-align: center;
  /* color: #212121; */
  font-weight: 600;
}

.hide {
  display: none;
}
 .dimmed {
   background-color: #00000082;
 }
/* modal related styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  /* display: none; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog,
.modal-content {
  transition: transform .3s ease-out, -webkit-transform;
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
  box-sizing: border-box;
}

.modal-content {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid transparent;
  border-radius: .2rem;
  outline: 0;
}

.modal-header {
  /* display: flex; */
  -webkit-box-align: start;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem .5rem;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.modal-header>h2 {
  margin: 0;
  font-size: 1.3rem;
}

.modal-header>p {
  margin: 1rem 0 0;
}

.close-modal {
  background-color: transparent;
  border: 0;
  float: right;
  font-size: 1.2rem;
  line-height: 1;
  color: #000000;
  text-shadow: none;
  opacity: .5;

}

.modal-body {
  padding: 1.5rem;
}

.modal-show {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-fade {
  transition: opacity .15s linear;
}

.modal-buttons {
  float: right;
  margin-top: .5rem;
}

.modal-span {
  font-weight: 600;
}

@media(min-width: 576px) {
  .modal-content {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}

/* FORM STYLES */
.form-container {
  padding: 1.5rem;
  width: auto;
  margin: .5rem;
}

.form-header {
  padding: 1rem;

}

.form-header>h1 {
  font-size: 1.3rem;
  text-align: center;
}

.form-body-header {
  text-align: center;
}

.form-body-header>h2 {
  margin: .8rem .5rem .5rem;
  font-size: 1.2rem;
}

.form-body-header>p {
  font-size: 1rem;
  margin: .5rem;
}

.form-body {
  padding: 1rem;
  font-size: 1rem !important;
}

.form-footer {
  text-align: center;
}

.form-footer>a {
  font-weight: 600;
}

.login-button-container,
.signup-button-container {
  text-align: center;
}

@media(min-width: 576px) {
  .form-container {
    max-width: 500px;
    margin: 1rem auto;
    padding: 1.5rem 3rem;
  }
}

/* TABLE STYLES */
.table {
  margin-bottom: 1.5rem;
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  color: #6c757d;
}

.table th,
.table td {
  white-space: nowrap;
  padding: 0.5rem 0.875rem;
  font-size: .95rem;
  vertical-align: middle;
  text-align: justify;
  border-top: 1px solid #d6d8dc;
}

.table td {
  padding-bottom: .2rem;
}

.table td .btn {
  padding-left: 0;
}

.table td>span {
  /* margin-top: 2px; */
  display: block;
}

.table td>span:nth-of-type(1) {
  margin-top: .375rem;
  margin-bottom: .375rem;
}

.table td>span.text-muted {
  font-size: .8rem;
  color: #98A6AD;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eef2f7;
}

.table tbody+tbody {
  border-top: 2px solid #eef2f7;
}

.table tr:hover {
  /* background-color: #abaec3; */
  color: #6c757d;
  background-color: #e7e9f0;
}

@media (max-width: 1366.98px) {
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.button-header-container {
  display: flex;
  justify-content: flex-end;
  margin: .5rem 1rem;
}

.summary {
  display: flex;
  /* flex-wrap: wrap; */
}

.summary>.detail-cards {
  margin-right: 1.5rem;
}

.summary>.chart-container {
  margin: 1rem .5rem;
  width: 100%;
  padding: .5rem 0 1.5rem;
}

.apexcharts-legend {
  display: flex !important;
  flex-wrap: wrap !important;
}

.detail-cards {
  width: 100%;
  margin: 1rem auto;
}

.detail-cards .card {
  min-width: 11rem;
  /* max-width: 17rem; */
  padding: 1.5rem;
  color: #595959;
  font-size: .95rem;
  box-sizing: border-box;
  margin: 0 .5rem 1.5rem;
  width: 100%;
  margin-right: 0;
}

.detail-cards .icon {
  float: right;
}

n .detail-cards .icon svg {
  background-color: #1d5b9829;
  border-radius: 5px;
  fill: #022a52;
  padding: .3rem;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

.detail-cards .card .card-stat {
  color: #6C757D;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: .9rem;
  margin-bottom: .9rem;
}

.card-name {
  color: #6b6a6a;
  font-size: .9375rem;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

@media(max-width:768px) {
  .summary {
    display: block;
  }
}

/* HOME STYLES */
.home-main>.description {
  background-image: url("/droneSamp1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.description-words {
  padding: 1rem;
  margin: 1rem auto 1rem .6rem;
  max-width: 25rem;
  background: #b6b6b696;
  border-radius: 10px;
}

.description-words>h2,
.description-words>p {
  margin: .5rem auto;
}

/* NAV STYLES */

.main-nav button {
  margin-right: .8rem;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.main-nav svg {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: .2rem;
}

.main-nav svg path {
  fill: #dfdfdf;
}

.main-nav {
  width: 3rem;
  background-color: #1d1c1c;
  color: white;
  /* padding: .2rem .5rem; */
  height: 100%;
  /* z-index: 3; */
}

.small-links {
  display: block;
  height: 100%;
  float: left;
  position: fixed;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  background-color: #02041a;
  overflow-x: hidden;
  box-sizing: border-box;
  top: 8rem;
  /* z-index: 2; */
}

.small-links>* {
  display: block;

}

.small-links svg {
  margin: .3rem;
  padding-left: .2rem;
  margin-left: .5rem;
}

.small-links>button {
  margin-top: 5rem;
  padding: 0;
}

.links {
  display: block;
  height: 100%;
  float: left;
  position: fixed;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  background-color: #02041a;
  overflow-x: hidden;
  box-sizing: border-box;
  top: 8rem;
  left: 40px;
  z-index: 2;
}

.links .active-link {
  color: #158c30;
}

.links>a {
  display: flex;
  line-height: 1.5rem;
  margin: .2rem;
  padding: .3em 2.2rem;
  padding-left: .8rem;
  font-weight: 500;
  overflow-x: hidden;
}

.hide-nav {
  width: 0px;
  padding: 0;
  margin: 0;
  transition: all 0.6s cubic-bezier(1, 0.01, 0.04, 0.96);
}

.side-nav {
  transition: all 0.6s cubic-bezier(1, 0.01, 0.04, 0.96);
  width: 250px;
}

.small-nav {
  transition: all 0.6s cubic-bezier(1, 0.01, 0.04, 0.96);
  width: 40px;
}

.nav-action-buttons {
  float: right;
  display: flex;
}

.nav-actions {
  padding: 0 .2rem;
  margin: 0 .2rem;
}

/* chart-styles */
/* .apexcharts-canvas{
  min-height: 250px !important;
} */