.card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #00000020;
  border-radius: .25rem;
  box-sizing: border-box;
  padding: .5rem;
  margin: .5rem;
}
.card-header{
  text-align: center;
  text-transform: capitalize;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  margin: 5px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-group {
  margin-top: 1rem;
}
.form-control {
  display: block;
  width: auto;
  /* width: 100%; */
  /* height: calc(1.5em + .75rem + 2px); */
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.amani-blue {
  background-color: #1d5b98;
  color:#ffffff;
}
.bg-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.bg-cool-dark {
  background-color: #0e1a25;
  color: #ffffff;
}

.bg-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.bg-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.section-header{
  text-align: center;
}
/* HOME STYLES */
.home-main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}